:root {
  // colors
  --body-bg: #131717;
  --light: #ece4d4;

  --danger: #ff6c58;
  --success: #84ff9f;

  // sizes
  --grid-space: 80px;
  --section-space: 80px;
  --container: 1920px;

  --transition: 0.2s ease;
}
